
.tabVectorPreview {
    width: 214px;
    height: 82%;
    border-radius: 9px;
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.tabVectorPreview svg { 
    width: 100%;
    height: auto;
    margin: auto;
    filter: none;
}

.tabVectorStroke {
    display: block;
}

.txtVectorStrokeColor {
    width: 56px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border-radius: 3px;
    border: 1px solid #343C4F;
    background-color: transparent;
    transition: border .2s;
}

.txtVectorStrokeColor:hover {
    border: 1px solid #515E7B;
}

.txtVectorStrokeColor:focus {
    border: 1px solid #515E7B;
}

.txtVectorStrokeOpacity {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtVectorStrokeOpacity:hover {
    border-bottom: 1px solid #647499;
}

.txtVectorStrokeOpacity:focus {
    border-bottom: 1px solid #647499;
}

.txtVectorStrokeWidth {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtVectorStrokeWidth:hover {
    border-bottom: 1px solid #647499;
}

.txtVectorStrokeWidth:focus {
    border-bottom: 1px solid #647499;
}

.txtVectorStrokeDash {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtVectorStrokeDash:hover {
    border-bottom: 1px solid #647499;
}

.txtVectorStrokeDash:focus {
    border-bottom: 1px solid #647499;
}

.txtVectorStrokeGap {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtVectorStrokeGap:hover {
    border-bottom: 1px solid #647499;
}

.txtVectorStrokeGap:focus {
    border-bottom: 1px solid #647499;
}

.chkVectorStrokeCap {
    outline: none;
    width: 24px;
    max-width: 24px;
    height: 16px;
    border-radius: 99px;
    border: 1px solid #3F4961;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    transition: .2s;
}

.chkVectorStrokeShow {
    outline: none;
    width: 24px;
    max-width: 24px;
    height: 16px;
    border-radius: 99px;
    border: 1px solid #3F4961;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    transition: .2s;
}

.chkVectorFillShow {
    outline: none;
    width: 24px;
    max-width: 24px;
    height: 16px;
    border-radius: 99px;
    border: 1px solid #3F4961;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    transition: .2s;
}

.optVectorColor {
    width: 100%;
    height: 32px;
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent;
}

.optVectorColor:hover {
    background-color: #6885CC;
}

.tabVectorFill {
    display: none;
}


.txtVectorFillColor {
    width: 56px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border-radius: 3px;
    border: 1px solid #343C4F;
    background-color: transparent;
    transition: border .2s;
}

.txtVectorFillColor:hover {
    border: 1px solid #515E7B;
}

.txtVectorFillColor:focus {
    border: 1px solid #515E7B;
}


.txtVectorFillOpacity {
    width: 28px;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}

.txtVectorFillOpacity:hover {
    border-bottom: 1px solid #647499;
}

.txtVectorFillOpacity:focus {
    border-bottom: 1px solid #647499;
}